body {
}
div{
}
 input[type=button]{
     border-radius:50px;
     width:40px;
 }
 input[type=text]{
     border-radius:50px;
     width:180px;
     text-align:right;
 }
 table{
     background-color:burlywood;
 }
